!! See https://github.com/okubax/dotfiles/blob/master/Xresources and
!! https://github.com/electro7/dotfiles/blob/master/.Xresources for more
!! information how to structure this file.
! vim: set filetype=xdefaults :


!! Xft
Xft.lcdfilter : lcddefault
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb

! colors
!*customization: -color
!*color0:  #2e3436
!*color1:  #e91e16
!*color2:  #2db600
!*color3:  #c4a000
!*color4:  #3465a4
!*color5:  #75507b
!*color6:  #06989a
!*color7:  #d3d7cf
!*color8:  #555753
!*color9:  #ef2929
!*color10: #8ae234
!*color11: #fce94f
!*color12: #729fcf
!*color13: #ad7fa8
!*color14: #34e2e2
!*color15: #eeeeec

!*.foreground:  #c4c5b5
!*.background:  #1a1a1a
!*.cursorColor: #f6f7ec
!!
!! Black
!*.color0:      #1a1a1a
!*.color8:      #625e4c
!!
!! Red
!*.color1:      #f4005f
!*.color9:      #f4005f
!!
!! Green
!*.color2:      #98e024
!*.color10:     #98e024
!!
!! Yellow
!*.color3:      #fa8419
!*.color11:     #e0d561
!!
!! Blue
!*.color4:      #9d65ff
!*.color12:     #9d65ff
!!
!! Magenta
!*.color5:      #f4005f
!*.color13:     #f4005f
!!
!! Cyan
!*.color6:      #58d1eb
!*.color14:     #58d1eb
!!
!! White
!*.color7:      #c4c5b5
!*.color15:     #f6f6ef
!!
!! Bold, Italic, Underline
!*.colorBD:     #c4c5b5
!!*.colorIT:
!!*.colorUL:

! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a54242
*.color9:       #cc6666

! green
*.color2:       #8c9440
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6


!URxvt*termName: xterm-256color

! fonts
URxvt*font:           xft:ubuntu mono:regular:size=12
URxvt*boldFont:       xft:ubuntu mono:bold:size=12
URxvt*italicFont:     xft:ubuntu mono:italic:size=12
URxvt*boldItalicFont: xft:ubuntu mono:bold:italic:size=12
URxvt*letterSpace: -1

! transparent background
URxvt.depth: 32
URxvt*background: [095]#101010
URxvt*foreground: #ffffff
URxvt.underlineColor: #777777

! dimming when losing focus
URxvt.fading: 10
URxvt.fadeColor: #000000

! disable blinking
URxvt*visualBell: false
URxvt*urgentOnBell: true

! scrolling
URxvt*scrollBar:         false
URxvt*scrollTtyOutput:   false
URxvt*scrollTtyKeypress: true
URxvt*scrollWithBuffer:  true
URxvt*saveLines:         9999

! extensions (using urxvt-perls)
URxvt.perl-ext-common: default,keyboard-select

! keyboard-select
URxvt.keysym.M-z:     perl:keyboard-select:activate
URxvt.keysym.M-slash: perl:keyboard-select:search

! keybindings
! Normal
URxvt*keysym.Home: \033OH
URxvt*keysym.End:  \033OF
URxvt*keysym.F1:   \033OP
URxvt*keysym.F2:   \033OQ
URxvt*keysym.F3:   \033OR
URxvt*keysym.F4:   \033OS

! Shift
URxvt*keysym.S-Delete: \033[3;2~
URxvt*keysym.S-Home:   \033[1;2H
URxvt*keysym.S-End:    \033[1;2F

URxvt*keysym.S-F1:  \033[1;2P
URxvt*keysym.S-F2:  \033[1;2Q
URxvt*keysym.S-F3:  \033[1;2R
URxvt*keysym.S-F4:  \033[1;2S
URxvt*keysym.S-F5:  \033[15;2~
URxvt*keysym.S-F6:  \033[17;2~
URxvt*keysym.S-F7:  \033[18;2~
URxvt*keysym.S-F8:  \033[19;2~
URxvt*keysym.S-F9:  \033[20;2~
URxvt*keysym.S-F10: \033[21;2~
URxvt*keysym.S-F11: \033[23;2~
URxvt*keysym.S-F12: \033[24;2~

! Alt
URxvt*keysym.M-Insert:    \033[2;3~
URxvt*keysym.M-Delete:    \033[3;3~
URxvt*keysym.M-Home:      \033[1;3H
URxvt*keysym.M-End:       \033[1;3F
URxvt*keysym.M-Page_Up:   \033[5;3~
URxvt*keysym.M-Page_Down: \033[6;3~

URxvt*keysym.M-F1:  \033[1;3P
URxvt*keysym.M-F2:  \033[1;3Q
URxvt*keysym.M-F3:  \033[1;3R
URxvt*keysym.M-F4:  \033[1;3S
URxvt*keysym.M-F5:  \033[15;3~
URxvt*keysym.M-F6:  \033[17;3~
URxvt*keysym.M-F7:  \033[18;3~
URxvt*keysym.M-F8:  \033[19;3~
URxvt*keysym.M-F9:  \033[20;3~
URxvt*keysym.M-F10: \033[21;3~
URxvt*keysym.M-F11: \033[23;3~
URxvt*keysym.M-F12: \033[24;3~

urxvt.depth:        32
urxvt.background:   [93]#101010

!URxvt*foreground:   #B2B2B2
!URxvt*cursorColor:  #FFFFFF

!URxvt*color0:       #303030
!URxvt*color1:       #E1321A
!URxvt*color2:       #6AB017
!URxvt*color3:       #FFC005
!URxvt*color4:       #004F9E
!URxvt*color5:       #EC0048
!URxvt*color6:       #2AA7E7
!URxvt*color7:       #F2F2F2
!URxvt*color8:       #5D5D5D
!URxvt*color9:       #FF361E
!URxvt*color10:      #7BC91F
!URxvt*color11:      #FFD00A
!URxvt*color12:      #0071FF
!URxvt*color13:      #FF1D62
!URxvt*color14:      #4BB8FD
!URxvt*color15:      #A020F0
